.box {
    margin: 25px auto;
    color: white;
    width: 85%;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    max-height: 60px;
    transition: max-height 1s ease-out;
  }
  
  .title {
    font-size: 24px;
    font-weight: 500;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--pink);
  }
  
  .arrow {
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    top: 10px;
    right: 16px;
    transition: transform 0.3s, top 0.3s;
  }
  
  .arrow.open {
    transform: rotate(180deg);
    top: 15px;
    
  }
  
  .description {
    background-color: #f6f6f6;
    color: var(--pink);
    padding: 8px;
    border-radius: 0 0 8px 8px;
    position: relative;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
    top: -10px;
    padding-top: 20px;
    z-index: -99;
  }
  
  .box.open {
    max-height: 500px;
  }
  